# Misc
*#
Icon*
*/Icon*
*/*/Icon*
.jekyll-cache/*
*.DS_Store
*/.DS_Store
*~
*.jekyll-metadata
Gemfile.lock
pip.install
.bundle/
vendor/

# Make Targets
_site/
*.zip

# Python
__pycache__/
pip.install
